html,
body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.header {
    display: flex;
    padding-top: 20px;
}

table {
    width: 100%;
    text-align: left;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    color: darkslategray;
}

.monitor {
    width: 50%;
    height: 200px;
}

fieldset {
    height: 200px;
    border-radius: 10px;
    border: 1px solid darkslategray;
}

#ramArea {
    width: 15%;
}

#monitorArea {
    width: 85%;
}

#code {
    height: 100%;
    width: 100%;
}

legend {

    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: monospace;
    border: 1px solid gray;
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
}

.led-display {
    position: absolute;
    border-radius: 10px;
    bottom: 20px;
    right: calc(50% - 224px);
    width: 448px;
    height: 224px;
    background-color: mediumseagreen;
    border: 1px solid seagreen;
    box-shadow: 1px 3px 10px darkgreen, 0 0 10px black;
}

.led-point {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 2px;
    float: left;
}

.led-off {
    background-color: mediumseagreen;
}

.led-on {
    background-color: lightgreen;
    box-shadow: 0 0 20px #fff,
        0 0 40px lightgreen;
}

#codingArea {
    display: flex;
    font-family: Consolas, 'Lucida Console', monospace;
    font-size: 24pt;
    background-color: #1a1b1f;
    text-align: center;
    flex-direction: column;
}

#codingArea input {
    font-family: Consolas, 'Lucida Console', monospace;
    font-size: 24pt;
    width: 10ch;
    text-align: right;
    margin-top: 4px;
    float: right;
    border-radius: 5px;
    border: 0;
    box-shadow: none;
}

#code {
    background-color: #36383f;
    min-height: 50vh;
    padding: 10px 0;
}

.instructions {
    position: absolute;
    transition: .5s all linear;
    width: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: darkorchid;
}

.instructions.open {
    width: 50vw;
}

#instructionPicker {
    padding: 5px;
    overflow: auto;
    max-height: calc(100vh - 98px);
}

#instructionPicker div {
    background-color: rebeccapurple;
}

.instructions-header {
    background-color: darkorchid;
    color: white;
    padding: 10px;
}

.instructions-header .btn-delete {
    background-color: darkorchid;
    color: white;
    border: 3px solid white;
}

.open-instructions {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 100px;
    font-size: 20px;
    border: 0;
    background-color: red;
    color: white;
    width: 20vw;
    text-align: center;
    box-shadow: 0px 3px 8px black;
    font-family: Consolas, 'Lucida Console', monospace;
}

#container-2,
#container-2 input,
#container-2 button {
    font-family: Consolas, 'Lucida Console', monospace;
}

#container-2 {
    position: relative;
    background-color: #eeeeee;
    padding-left: 5px;
    border-left: 5px solid darkgrey;
}

.btn-delete {
    background-color: #36383f;
    color: red;
    font-weight: bolder;
    padding: 5px 50px;
    font-size: 28px;
    border: 3px solid red;
}

.instruction-block {
    color: white;
    margin-right: 10px;
    padding: 10px 5px;
}

.col-6 {
    width: 50%;
    height: 100vh;
}

.flags {
    display: flex;
    margin-right: 10px;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    background-color: darkslategray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 10px solid slategray;
    border-left: 10px solid darkslateblue;
    border-right: 10px solid darkslateblue;
}

.flags>div {
    width: 100%;
    line-height: 50px;
    padding: 5px;
}

.flags div>div {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}

.flags div>div.led-off {
    background-color: red;
    box-shadow: 0 0 20px #fff,
        0 0 40px red;
}

.buttons-container {
    margin-right: 10px;
}

.buttons-container button {
    width: 100%;
    margin: 5px;
    padding: 10px;
    box-shadow: none;
    background-color: gainsboro;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    color: dimgray;
}

.buttons-container button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.ram-container {
    max-height: 150px;
    overflow: auto;
    border: 1px solid gray;
    margin-right: 5px;
}

.ram-container p {
    margin: 2px;
    text-align: center;
    color: darkslategrey;
    font-weight: 600;
    border-bottom: 1px solid darkslategrey;
}

table {
    border: 0;
}

.AC {
    background-color: darkslategrey;
    border-radius: 10px;
    /* margin: 10px; */
    text-align: center;
    /* line-height: 40px; */
    color: white;
    margin-right: 5px;
}

.add-ram {
    border: 1px solid gray;
    padding: 10px;
}

.add-ram input {
    width: 40%;
}

#analyzer-output {
    width: 25vw;
    height: 100px;
    background-color: white;
    box-shadow: 0px 3px 8px black;
    position: fixed;
    bottom: 20px;
    left: 25vw;
    font-size: 14px;
    text-align: left;
    padding: 3px 10px;
    margin: 0 0 0 -25px;
    box-sizing: border-box;
    overflow: auto;
}